<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link rel="icon" href="favicon.jpg" type="image/x-icon" />
<meta name="viewport" content="width=1200">
<title>Tell Collective</title>

<link rel="stylesheet" type="text/css" href="css/style.css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="js/fancyscroll.min.js"></script>
<script type="text/javascript" src="js/jquery.carousel.js"></script>
<script type="text/javascript" src="js/jquery.directorselector.js"></script>
<script type="text/javascript" src="js/upDown.js"></script>
<script type="text/javascript" src="js/hover.js"></script>
<script type="text/javascript" src="js/window.js"></script>
<script type="text/javascript" src="js/slide.js"></script>
<script type="text/javascript" src="js/scroll.js"></script>
<script type="text/javascript" src="//use.typekit.net/mhm7niv.js"></script>
<script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript">
	window.onload = function(){
		var f=new fancyScroll({easingTime:1000});
		//click handlers for IE < 8
		f.addScroll(['page1_link','page2_link','page3_link','page4_link'],['page1','page2','page3','page4']);
	};	
    </script>
	<script type="text/javascript">
	
		$(document).ready(function() {
		
		    $("#directorNav").directorselector();
		
			$('body').removeClass('no-js');
		    

			
			//$(window).bind('resize', function() {
				 //location.reload();
				// self.location.reload(true);
			//});
			
		});
		
	</script>	
</head>
<body>


		

<a id="home"></a>
<div class="section-wrapper">

	<div id='page1' class="scroll-section">
		<div class="whitebg">&nbsp;</div>
		<!-- content -->
		<div class="topTagline" style=''>
			<p>
				Our company is an intuitive team of<br/>directors, producers, editors, designers, motion graphic and other artists that share a passion for <span>storytelling</span> and love of our craft.
			</p>
		</div>
        <div class="moreInfo">
        	<img src="images/moreInfoHover.png" width="204" height="40" alt="More Info" />
        </div>
	</div>
	<div class="moreOverlay">
    	<div class="closeBtn">
        	<img src="images/close.gif" width="40" height="40" alt="close"  class="hover"/>
        </div>
        <div class="content">
        	<h2>what is tell collective?</h2>
            <p>Tell was born from what our shared experiences have told us loud and clear: great content creation is a team sport, and a fun one at that. We are collaborators to the core, with each other, and with our clients, shaping stories through film, commercials, music videos, documentaries, and corporate video. This collaborative spirit helps us build effective project teams based on creative content, budget and geography. Balancing big picture focus with difference-making details, we're skilled at the art of anticipating and avoiding roadblocks and getting the most bang from every production buck. That's our story. Tell us yours.</p>
            <div class="viewWork">
            	<img height="40" width="168" alt="View Work" src="images/viewWork.gif">
            </div>
        </div>
    </div>
	
	<div id='page2' class="scroll-section">
		<!-- content panel 1 -->
		
		<div id="facePanel" style="width: 900px; height:810px; position: absolute; left: 50px; z-index: 2; bottom: 0;" ><img src="/" /></div>
		
		<div id='pageSlider1' class='panel'>
			<div class="scroll-content">
					
					 <ul id="directorNav" class="directorSelect" >
						<li class="directorSortBox">
                        <div class="showAllDirs classy2"><img src="images/dropdownInactive.png" width="260" height="125"  /></div>
							<ul></ul>
						</li>
					 </ul>
					 <div class="selectedDirector"></div>
					<div id="director-carousel" class="carousel module" style="margin-top: 30px; clear:both;"></div>
                    
			</div>
		</div>
		
		<!-- content panel 2 -->
		<div id='pageSlider2' class='panel' >
			<div class="scroll-content" style="width:100%;">
				
				<p>
                <div class="middleFade">
				<div style="height: 40px;margin: 0 auto;width: 900px;"><div id="previewTitle" style="width:100%; height: 22px;"></div><div id="previewSubTitle"  style="width: 820px; height: 22px;margin: 12px auto;"></div></div>
				
				<div id="previewPlayer" style="height: 460px; width: 820px;"><iframe id="vidFrame" src="" style="z-index:200" width="820" height="460" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
										
				<div style="width: 820px; height; 114px; top: 660px; margin:0 auto; ">						
				
				<div id="previewAboutTitle" style="width: 820px; height: 22px;margin:25px auto 0;">About the project.</div>
				<div id="previewAboutCotent" style="width: 500px; height: 70px;"></div>
				</div>
                </div>
				</p>
			</div>

			<div id="previewGoBack"></div>
			<div id="previewGoNext"></div>	
			
		</div>
		
		<!-- content panel 3 -->
		<div id='pageSlider3' class='panel' >
			<div class="scroll-content">		
				<p>
					<div id="bioBox">
						<div id="bioPersonTitle"></div>
						<div id="bioPersonName"></div>
						<div id="bioContent"></div>				
					</div>
				</p>
			</div>
			<div id="bioGoBack"></div>
		</div>
		
	</div>
    <div class="bioDrop">
    	<div class="closeBtn">
			<img width="40" height="40" alt="close" src="images/bioClose/close.gif" class="hover">
		</div>
        <div class="bio" id="a1">
            <div class="inner">
                <div class="leftBio">
                    <h4>Bob Egle</h4>
                    <span>Owner / Creative Manager / Director</span>
                </div>
                <div class="rightBio">
                <p>Founding Tell came naturally to Bob, a steady film and video craftsman with a keen eye for detail, a genuine love of collaboration, and a way of connecting with people.</p>
    
    <p>His director's reel showcases these talents perfectly, featuring great performances within an impressive range of on-camera subjects: regular folks, seasoned actors, well-known athletes and celebrities, and corporate executives. That same skill set walks beautifully to his role as Tell's Creative Manager, where he gets the most out of his hand-picked team of directors, cinematographers, producers, editors, and motion graphic artists.</p> 
    
    <p>Born and raised on the East Coast, Bob began his commercial film career over 20 years ago in New York City. He now calls Columbus, Ohio home, where he lives with his wife, Liane, their two kids, Lauren and Dylan, and two crazy dogs named Roxie and Ringo.</p>
    
                </div>
            </div>
        </div>
        <div class="bio" id="a2">
            <div class="inner" style="width:950px;">
                <div class="leftBio" style="width:215px;">
                    <h4>Joanne Hock</h4>
                    <span>Director / Cinematographer</span>
                </div>
                <div class="rightBio">
                <p>Joanne brings a wildly diverse set of talents and experiences to Tell.</p>

<p>She has written and directed feature films, commercials and documentaries, and lensed thousands of television commercials and directed national and international television shows.</p>

<p>On Joanne's very crowded award shelf are two New York International Film Festival Gold Medal Awards: for direction, and the coveted Grand Prize Award. In 2011 she wrote and directed the award-winning feature length romantic comedy <i>Redneck Roots</i>. Her directorial skills on the dramatic feature film, <i>Trinity Goodheart</i>, helped co-star Eric Benet earn a nomination as Best Actor in a Television Movie or Miniseries in the 2011 Black Reel Awards.</p>

<p>Her DP work includes such renowned documentaries as <i>In the Footsteps of Elie Wiesel</i>, narrated by Richard Gere; <i>Fifty Years of Folk</i>, <i>The History of the Newport Folk Festival</i>; as well as <i>The Spirit of Sacagawea</i> and PBS's <i>Laugh at Us</i>.</p>

<p>Among Joanne's current projects is serving as DP on a new 13 episode series with Dr. Maya Angelou for the Hallmark Channel.</p>
    
                </div>
            </div>
        </div>
        <div class="bio" id="a3">
            <div class="inner">
                <div class="leftBio">
                    <h4>Jill Brandt</h4>
                    <span>Business Development / Production Management</span>
                </div>
                <div class="rightBio">
                <p>Blessed with a knack for rapid recognition of what a client or project needs, Jill is perfectly suited to her leadership role in Tell's production and business development efforts.</p> 

<p>An Emmy-award winning producer and client account manager with over 15 years experience in video production, visual communication and marketing consultation, Jill has worked with a wide range of clientele, including Disney, Intel, Ford, Whirlpool, Limited Brands, Victoria's Secret and Worthington Industries.</p> 

<p>After growing up overseas and spending some time living on the East Coast, Jill now happily resides in Columbus with her husband, Chris, their three kids - Lucy, Jack and Molly and 2 dogs - Bogey and Hopper.</p>
    
                </div>
            </div>
        </div>
        <div class="bio" id="a4">
            <div class="inner">
                <div class="leftBio">
                    <h4>Lance Moody</h4>
                    <span>Editor / Motion Graphics Designer</span>
                </div>
                <div class="rightBio">
                <p>Give him your footage, and he'll tell you a story.</p> 

<p>Lance Moody doesn't so much cut footage together as he composes it into something greater than the sum of its frames and pixels.</p>  

<p>His reverence for the storytelling power of film and video has made him the go-to editor for dozens of directors, producers and agencies, and we're proud to have him aboard at Tell.</p> 

<p>Lance's craftsmanship and technique speak volumes on his reel for companies like Jeep, Motorola, P&amp;G, Coca-Cola, McDonalds and many others. And, he's accomplished in motion graphics work as well.</p>

<p>He lives in Cincinnati with his wife and two kids, and their aptly named dog Pixel.</p>
    
                </div>
            </div>
        </div>
        <div class="bio" id="a5">
            <div class="inner">
                <div class="leftBio">
                    <h4>Jennifer Combs</h4>
                    <span>Producer</span>
                </div>
                <div class="rightBio">
                <p>It's hard to throw Tell's Producer, Jennifer Combs, a production curve she can't handle. She can make the seemingly impossible, possible. And she does it all with an endless sense of humor.</p>

<p>Jennifer's list of demanding clients is impressive, from big corporations like P&amp;G, Budweiser and McDonald's, to major motion picture studios and hundreds of advertising agencies.  P&amp;G thought enough of her organizational and people skills to grant her a rare 4-year contract with their Baby Care division to guide projects across functions, divisions and regions to keep their brands focused and baby-fresh.</p>
<p>Jen resides in the greater Cincinnati area with her husband Bob, her son Garrett and daughter Devin.</p>
    
                </div>
            </div>
        </div>
        <div class="bio" id="a6">
            <div class="inner">
                <div class="leftBio">
                    <h4>Kevin Willson</h4>
                    <span>Director</span>
                </div>
                <div class="rightBio">
                <p>Beyond the craft service table, you'll probably still find a bag of Doritos on a Kevin Willson set.</p>

<p>Kevin has directed two #1 rated Super Bowl commercials. His 2012 Super Bowl Doritos' spot, "Sling Baby", was #1 on the Facebook-USA Today Ad Meter, #1 "Most Liked" and #1 "Most Remembered" by Nielson ratings. CBS rated it as the #5 Best Super Bowl Ad of All Time. And his 2010 Super Bowl spot, "Casket," also got rated "#1 Most Remembered" by Nielson.</p>
<p>Kevin loves directing comedies with heart and collaborating with fun people. Recently Frito-Lay hired him to write and direct a short film for their new Jacked chips, providing an opportunity to work with Andy Samberg and Jorma Taccone. Those are fun people.</p>

<p>Besides his Super Bowl ads, Kevin has directed/DP'd documentaries in twelve countries, created videos for Jeep, Lamborghini & Kia, is active in the improvisational comedy community, and years earlier earned a film degree in college while working at Medieval Times as a "Serf", the male version of the "Wench". </p>

<p>When not involved in comedic storytelling, Kevin loves playing ultimate Frisbee and playing catch with his French bulldog puppy, Walter.</p>
    
                </div>
            </div>
        </div>
        <div class="bio" id="a7">
            <div class="inner">
                <div class="leftBio">
                    <h4>Carter Pagel</h4>
                    <span>Director</span>
                </div>
                <div class="rightBio">
                <p>Carter brings a writer's sensibilities to his skills as a director.</p>

<p>With fourteen years of agency experience as an advertising copywriter and associate creative director, Carter now enjoys bringing the written word to life in front of the camera. He is building on a career in which he has penned national television spots for brands such as AT&T, Bud Light and State Farm and garnered awards from Cannes and Advertising Age among others.</p>

<p>With such a background, it's no surprise that his focus is on dialogue-driven comedic spots, and his work demonstrates a keen ability to coax great performances out of his actors. With a passion for hard work, both in pre-production and on-set, Carter has directed humorous commercials for Western Union, Intel and everyone's favorite calcium, lime and rust-cleaner-CLR.</p>

<p>Carter shares life with his girlfriend, Shannon McGarvey, his daughter, Bella and their dog, Chuy. Yes, of course, he's a Chihuahua.</p>
    
                </div>
            </div>
        </div>
        <div class="bio" id="a8">
            <div class="inner">
                <div class="leftBio">
                    <h4>Beth Edwards</h4>
                    <span>Editor</span>
                </div>
                <div class="rightBio">
                <p>Making sense of chaos? If that's a life skill, then Beth Edward's got it in spades.</p>

<p>Maybe it's her years of experience in the industry and ability to see the post production process from every perspective - as a producer, editor, and graphic artist- that gives her the edge to sense a good story and the finesse to organize footage into moving narratives that have the power to make you laugh, cry or both!</p>

<p>Beth is one of the nicest and most gregarious folks we know. You'll love working with her and her sunny attitude! And her professionalism on projects for clients as varied as Nationwide Children's Hospital, Lane Bryant, P&G, Victoria's Secret, and LensCrafters means you can expect a thoughtful and comprehensive editing experience with every last detail on point.</p>

<p>She lives in Worthington with her rescue dog Annie who rivals her owner in friendliness. You might also bump into Beth as she orders her daily Venti, Nonfat, No Whip, Triple Caramel Mocha fix at Starbucks. True, it takes her longer to order than to drink it.</p>
    
                </div>
            </div>
        </div>
    </div>
    <div class="collectiveHeader"><h3>the collective</h3></div>
	<div id="bioSect">
    	
        <div class="bottom">
        
        	<div class="left">
            	<img src="images/leftArrow.gif"  />
            </div>
        	<div class="container">
        		<div class="slide">
                 	<div class="slideImg">
                    <img class="hoverCircle2" src="images/hoverCircle.png">
                    	<div class="topInfo topInfo2">
                        	<img src="images/hoverCircle.png"  class="hoverCircle"/>
                        	<div class="bubbleContent">
                            	<h4>Kevin</h4>
                                <div class="bubbleTitle">
                                	Director
                                </div>
                                <div class="bubbleTrigger">
                                	<img src="images/expand.png"  id="s6"/>                                
                                </div>
                            </div>
                        </div>
                        <img src="images/kevinSmall.jpg" width="289" height="259"  class="smallImg"/>
                    </div>
                     <div class="slideImg">
                     <img class="hoverCircle2" src="images/hoverCircle.png">
                    	<div class="topInfo topInfo2">
                        	<img src="images/hoverCircle.png"  class="hoverCircle"/>
                        	<div class="bubbleContent">
                            	<h4>Carter</h4>
                                <div class="bubbleTitle">
                                	Director
                                </div>
                                <div class="bubbleTrigger">
                                	<img src="images/expand.png" id="s7"/>                                
                                </div>
                            </div>
                        </div>
                        <img src="images/carterSmall.jpg" width="289" height="259"  class="smallImg"/>
                    </div>
                    
                    <div class="slideImg">
                    <img class="hoverCircle2" src="images/hoverCircle.png">
                    	<div class="topInfo topInfo2">
                        	<img src="images/hoverCircle.png"  class="hoverCircle"/>
                        	<div class="bubbleContent">
                            	<h4>Bob</h4>
                                <div class="bubbleTitle">
                                	Owner / Creative Director
                                </div>
                                <div class="bubbleTrigger">
                                	<img src="images/expand.png"  id="s1"/>                                
                                </div>
                            </div>
                        </div>
                        <img src="images/bobSmall.jpg" width="289" height="259"  class="smallImg"/>
                    </div>
                    <div class="slideImg">
                    <img class="hoverCircle2" src="images/hoverCircle.png">
                    	<div class="topInfo topInfo2">
                        	<img src="images/hoverCircle.png"  class="hoverCircle"/>
                        	<div class="bubbleContent">
                            	<h4>Jennifer</h4>
                                <div class="bubbleTitle">
                                	Producer
                                </div>
                                <div class="bubbleTrigger">
                                	<img src="images/expand.png"  id="s5"/>                                
                                </div>
                            </div>
                        </div>
                        <img src="images/jenSmall.jpg" width="289" height="259"  class="smallImg"/>
                    </div>
                    <div class="slideImg">
                    <img class="hoverCircle2" src="images/hoverCircle.png">
                    	<div class="topInfo topInfo2">
                        	<img src="images/hoverCircle.png"  class="hoverCircle"/>
                        	<div class="bubbleContent">
                            	<h4>Joanne</h4>
                                <div class="bubbleTitle">
                                	Director / Cinematographer
                                </div>
                                <div class="bubbleTrigger">
                                	<img src="images/expand.png" id="s2" />                                
                                </div>
                            </div>
                        </div>
                        <img src="images/joanneSmall.jpg" width="289" height="259"  class="smallImg"/>
                    </div>
                    
                    <div class="slideImg">
                    <img class="hoverCircle2" src="images/hoverCircle.png">
                    	<div class="topInfo topInfo2">
                        	<img src="images/hoverCircle.png"  class="hoverCircle"/>
                        	<div class="bubbleContent">
                            	<h4>Lance</h4>
                                <div class="bubbleTitle">
                                	Editor / Motion Designer
                                </div>
                                <div class="bubbleTrigger">
                                	<img src="images/expand.png"  id="s4"/>                                
                                </div>
                            </div>
                        </div>
                        <img src="images/lanceSmall.jpg" width="289" height="259" class="smallImg" />
                    </div>

                    <div class="slideImg">
                    <img class="hoverCircle2" src="images/hoverCircle.png">
                    	<div class="topInfo topInfo2">
                        	<img src="images/hoverCircle.png"  class="hoverCircle"/>
                        	<div class="bubbleContent">
                            	<h4>Julie</h4>
                                <div class="bubbleTitle">
                                	Director of Business Relations and Production Management
                                </div>
                                <div class="bubbleTrigger">
                                	<img src="images/expand.png"  id="s4"/>                                
                                </div>
                            </div>
                        </div>
                        <img src="images/julieSmall.jpg" width="289" height="259" class="smallImg" />
                    </div>

                    <div class="slideImg">
                    <img class="hoverCircle2" src="images/hoverCircle.png">
                    	<div class="topInfo topInfo2">
                        	<img src="images/hoverCircle.png"  class="hoverCircle"/>
                        	<div class="bubbleContent">
                            	<h4>Beth</h4>
                                <div class="bubbleTitle">
                                	Editor
                                </div>
                                <div class="bubbleTrigger">
                                	<img src="images/expand.png"  id="s8"/>                                
                                </div>
                            </div>
                        </div>
                        <img src="images/bethSmall.jpg" width="289" height="259" class="smallImg" />
                    </div>
                    
                
                    
                   
            	</div>
            </div>
            <div class="right">
            	<img src="images/arrowRight.gif"  />
            </div>
        </div>
    </div>
	<div id='page3' class="scroll-section">
	
		<!-- content -->
		<div class="scroll-content">
		
			<div style="float: left; width: 400px;">
		
			
				<div class="FBLink1">What we are up to.</div>
				
				<div id="wall" class="facebookWall">
                    <script type="text/javascript" src="http://output28.rssinclude.com/output?type=js&amp;id=917714&amp;hash=7e033f09fdf95fecef47a9184e765d03"></script>

                </div>
				<div class="FBLink2"><a href="https://www.facebook.com/tellcollective" target="_blank"><img src="images/facebookVisit.gif" /></a></div>
				
			<!-- jQuery templates. Not rendered by the browser. Notice the type attributes 
			<script id="headingTpl" type="text/x-jquery-tmpl">
			</script>

			<script id="feedTpl" type="text/x-jquery-tmpl">
				<li>
					<div class="status">
						<div class="date">${created_time}</div>
						
						<p class="message">{{html message}}</p>
						{{if type == "link" }}
							<div class="attachment">
								{{if picture}}
									<img class="picture" src="${picture}" />
								{{/if}}
								<div class="attachment-data">
									<p class="name"><a href="${link}" target="_blank">${name}</a></p>
									<p class="caption">${caption}</p>
									<p class="description">${description}</p>
								</div>
							</div>
						{{/if}}
					</div>
				</li>
			</script>-->

			</div>
			<div class="bottomHead">What are you up to?</div>
			<div style="float: right; width: 625px; position: absolute; right: 185px; margin-top: 765px;">
				
				<div style="clear: both;"></div>
				
                <div class="leftMailerBox first" style="float: left;margin-bottom:25px;"><a class="link" href="mailto:inquire@tellcollective.com"><img id="" src="images/mail.jpg" class="" /></a><div class="mailerBoxText" style="display: inline-block"><a href="mailto:inquire@tellcollective.com"><h2>Tell us about your project.</h2><span>inquire@tellcollective.com</span></a></div></div>
                <div class="rightMailerBox second" style="float: left; margin-left: 69px;margin-bottom:25px;"><a class="link"  href="mailto:join@tellcollective.com"><img id="" src="images/mail.jpg" class="" /></a><div class="mailerBoxText" style="display: inline-block"><a href="mailto:join@tellcollective.com"><h2>Be part of the collective.</h2><span>join@tellcollective.com</span></a></div></div>
                
                
				<div class="leftMailerBox2 third" style="float: left;"><img id="" src="images/phone.jpg" class="" /><div class="mailerBoxText" style="display: inline-block"><h2>Give us a ring.</h2><span>(614)273-8000</span></div></div>
                <div class="rightMailerBox fourth" style="float: right;"><a  class="link" href="https://maps.google.com/maps?q=2109+W+5th+Ave,+Columbus,+OH&hl=en&ll=39.976857,-83.051147&spn=0.107867,0.254402&sll=36.191092,-80.288086&sspn=14.522856,32.563477&oq=2109+w+fifth+ave+c&t=h&hnear=2109+W+5th+Ave,+Columbus,+Franklin,+Ohio+43212&z=13&iwloc=A" target="_blank"><img id="" src="images/map.jpg" class="" /></a><div class="mailerBoxText" style="display: inline-block"><a href="https://maps.google.com/maps?q=2109+W+5th+Ave,+Columbus,+OH&hl=en&ll=39.976857,-83.051147&spn=0.107867,0.254402&sll=36.191092,-80.288086&sspn=14.522856,32.563477&oq=2109+w+fifth+ave+c&t=h&hnear=2109+W+5th+Ave,+Columbus,+Franklin,+Ohio+43212&z=13&iwloc=A" target="_blank"><h2>Stop by and say hi.</h2><span>2109 W 5th Ave. Suite D, Columbus OH 43212</span></a></div></div>
                
				<div style="clear: both;"></div>
				
			</div>
		</div>
		
		
	</div>
	
	<div id='page4' class="scroll-section">
		<!-- content -->

		
		<div class="bottomcell" style=" background-color: #transparent;  ">
			<div class="scroll-content" >
				<div class="newsEnrollBlock">Get the news updates. We won't spam you.
                <form action="http://bonfirered.createsend.com/t/t/s/hlthu/" method="post" id="subForm">
				<div class="enrollText"><input type="text" name="cm-hlthu-hlthu" id="hlthu-hlthu" value="Submit your email address." /> <span><input type="submit" value="Subscribe" class="button"/></span></div>
                </form>
				<div class="enrollSuccess" >Request sent/not sent!</div>
				
				<div class="socialLinks">
					
					<div><a class="socialLinkVimeo" href="https://vimeo.com/tellcollective" target="_blank"><img src="images/vimeo.gif" width="40" height="44" /></a></div>
					<div><a href="https://www.facebook.com/tellcollective" target="_blank" class="socialLinkFB"><img src="images/facebook.gif" width="40" height="44" /></a></div>
                    <div><a href="http://www.linkedin.com/company/2873171" target="_blank" class="socialLinkden"><img src="images/linkedin.gif" width="40" height="44" /></a></div>
                    <div><a href="https://twitter.com/TellCollective" target="_blank" class="socialTwitter"><img src="images/twitter.gif" width="40" height="44" /></a></div>
				</div>
                
				</div>
                
			</div>
             <div class="finalFoot">
                	<div><span>&copy; tell collective&nbsp;&nbsp;</span>614.273.8000&nbsp;&nbsp;2109 W 5th Ave. Suite D, Columbus OH 43212</div>
                    
                </div>
		</div>
	</div>	
    <div class="fixedScroll">
	<div class="upDown2">
    	<div class="scrollUp">
        	<img src="images/upYellow.png"  />
        </div>
        <div class="scrollDown">
        <img src="images/downYellow.png"  />
        </div>
    </div>
</div>
</div>

<script type="text/javascript">

	function isValidEmailAddress(emailAddress) {
		var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
		return pattern.test(emailAddress);
	}

  $(document).ready(function() {
  
	
    var tbval = $('#hlthu-hlthu').val();
    $('#hlthu-hlthu').focus(function() { 
		
		if ($('#hlthu-hlthu').val() == "Submit your email address."){
			$(this).val('');
		}
	});
    //$('#newsEnrollTextbox').blur(function() { $(this).val(tbval);});
  });

	$(document).ready(function() {
		$('.enrollSuccess').hide(); //Hide error messages
		$("#submitArrow").click(function() { //User clicks on Submit button

		
		// Fetch data from input fields.
		var js_email = $("#hlthu-hlthu").val();
	
		// Do a simple validation
		if( js_email=="" || js_email=="Submit your email address." || js_email=="Submitted. Thank you for your interest!" || (!isValidEmailAddress( js_email )) ) {
			$("#hlthu-hlthu").css({"color":"#dd0000"});
			
		return false;}
	
		var myData = 'postEmail=' + js_email;

		jQuery.ajax({
			type: "POST",
			url: "ajax/requestMailer.php",
			dataType:"html",
			data:myData,
			success:function(response){
				
				
				$("#hlthu-hlthu").css({"color":"#60a257"});
				$("#hlthu-hlthu").val("Submitted. Thank you for your interest!");
				
				
			},
			error:function (xhr, ajaxOptions, thrownError){
				
				$(".enrollSuccess").css({"color":"#dd0000"});
				$(".enrollSuccess").html("Request not sent. Please correct the email address and try again.");
				$(".enrollSuccess").slideDown("slow");
			}
			});
		return false;
		});

	});
  
</script>

<script src="js/jquery.tmpl.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>